@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Assignment 2";
    ViewBag.Header = "Spencer Wright";
}

<body>

    <img src="~/img/Uintas.jpg" width="800px">
    <p>We have spent time in other classes learning front end development and I am excited to spend time learning more about the back end development. I don't know a lot about what enterprise application development is but I am excited to expand my programming knowledge and see how I can use this in my professional career. I find programming difficult, but very interesting. I hope I can increase my skills and knowledge in this field from this class because I would like to pursue something in development in my career.</p>
    <br />
    <p>Top #3 Jobs:</p>
    <ol class="jobslist">
        <li>Software Developer</li>
        <li>Information Security Analyst</li>
        <li>Database Administrator</li>
    </ol>

</body>
